<div class="container">
  <div class="row mt-4">
    <div class="col-4 offset-2 mt-5 pt-3 blog-list">
      <div *ngFor='let item of blogs' class="mb-4 card hvr-float-shadow" style="width: 18rem; height: 8rem">
        <div class="card-body" (click)="openBlog()">
          <h5 class="card-title">Card {{item}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle!</h6>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5 pt-3">
      <div class="cosmos">
        <div class="galaxy">
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
          <div class="box">
            <div class="planet">
              <div class="cube">
                <div class="face"></div>
                <div class="face"></div>
              </div>
            </div>
            <div class="orbit"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
