<div class="row p-0 m-0 blog-container">
  <div class="col-6 bg-secondary p-5">
    <h2 class="text-white">the title</h2>
    <div class="bg-success" style="border-radius: 2px;width: 100px; height: 5px"></div>
  </div>
  <div class="col-6 content-container p-0 m-0 ">
    <div class="body mx-5 mt-5">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel magna nec nunc congue consectetur ac vel nisl. Fusce vel lacus massa.
        Etiam sodales auctor viverra. Aenean eget augue vel dolor bibendum lacinia. Praesent varius id velit vitae sollicitudin. Duis ac quam nec nisl
        tempus luctus. Aliquam erat volutpat. Phasellus finibus molestie velit, quis posuere elit porttitor sed. Donec at vulputate ex. Pellentesque
        ac
        nunc sit amet sapien dignissim mattis lobortis id quam. Nulla facilisi.
      </p>

      <p>
        Sed hendrerit pellentesque diam quis fringilla. Quisque ullamcorper urna ut justo auctor efficitur. Quisque gravida scelerisque turpis sed
        lobortis. Fusce congue tortor id dui ullamcorper, ut rutrum nibh fermentum. Phasellus suscipit orci et purus fringilla, a aliquet sapien
        ultrices. Sed efficitur posuere nisl non porttitor. Donec vel congue diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia Curae; Curabitur ut hendrerit tortor. Nam vulputate metus a suscipit euismod. Fusce interdum mattis pharetra. In a tincidunt
        justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed maximus ante ut ante semper,
        pellentesque accumsan nibh pharetra. Donec a enim vitae tortor laoreet auctor sed vitae risus. Etiam lacinia convallis leo, non scelerisque
        orci
        convallis at.
      </p>

      <p>
        Nullam et lacus erat. Morbi lobortis malesuada metus, id commodo dolor pharetra vel. Suspendisse a lectus ut lorem elementum porttitor ac nec
        nibh. Ut aliquet nulla vitae eros cursus, non gravida tortor auctor. Vestibulum fringilla nec libero et blandit. Integer ullamcorper dictum
        eros. Morbi commodo efficitur lacus, venenatis pellentesque lacus egestas at. Sed tincidunt mi eu dictum gravida. Etiam mollis tortor a purus
        euismod, in placerat odio finibus. Ut aliquam ultricies sapien, sollicitudin finibus nunc viverra sit amet. Praesent a nulla odio. Nam commodo
        nulla nec diam finibus, at luctus purus convallis. Suspendisse iaculis ex in viverra fringilla.
      </p>

      <p>
        Ut felis orci, auctor quis placerat et, lobortis ultrices diam. Integer ipsum nibh, molestie euismod massa sit amet, ullamcorper molestie
        velit.
        Maecenas dictum nunc ac elementum tempus. Fusce non bibendum risus. Suspendisse hendrerit viverra ligula posuere imperdiet. Phasellus faucibus
        dapibus eros, et aliquet arcu convallis quis. Ut pretium bibendum dolor. Maecenas imperdiet urna nec erat sollicitudin interdum. Ut et
        efficitur
        nisi, pharetra euismod nunc. Donec et suscipit elit, quis malesuada magna. Cras sed risus in velit dignissim dignissim eget vel erat.
        Phasellus
        et congue est. Praesent vel felis leo.
      </p>

      <p>
        Donec ullamcorper maximus ipsum et gravida. Cras ornare, nulla nec sodales semper, est nisl ornare sem, id tempus odio quam ac urna. Aenean ut
        lorem et ipsum molestie volutpat ut sit amet tellus. Morbi metus ante, semper vitae aliquet ac, consequat eget orci. Fusce auctor leo ut
        efficitur rhoncus. Donec semper, urna id pharetra viverra, urna neque pharetra sem, eget sodales augue est eget lectus. Vivamus dictum at mi
        non
        euismod. Nam et iaculis est, id auctor ex. Proin id dui pretium, scelerisque nisi finibus, placerat est. Proin sollicitudin purus in quam
        eleifend consectetur in ut purus. Aenean nunc risus, accumsan sit amet gravida sit amet, efficitur eget orci. Donec tempus ipsum vitae risus
        rhoncus malesuada. Aliquam ut ligula a mi consequat tristique sit amet ac nisl. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices
        posuere cubilia Curae;
      </p>
    </div>
    <div class="footer px-5 pt-3">
      Friday, 29 March, 2019
    </div>
  </div>
</div>
